name: easy_prompt_tester
description: A Flutter package to test prompts across multiple AI models and compare their responses for quality and compatibility analysis.
version: 0.0.1
homepage: https://github.com/ferdigokdemir/flutter_packages/tree/main/easy_prompt_tester

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  equatable: ^2.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
